
#frame{
 width:1000px;
 min-width:1000px;
 max-width:1000px;
 height: 640px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 margin-bottom: 20px;
 border : 1px solid black;
}


#infobar{
 height: 40px;
 background : cyan;
 border-bottom : 1px solid black;

}

#level-sec{
 float: left;
 width: 350px;
 height: 100%;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
}

#level-sec p{
  margin-left: 110px;
  margin-top: 10px;
}

#level-sec p span{
  margin-left: 10px; 
}

#score-sec{
 float: left;
 width: 300px;
 height: 100%;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
}

#score-sec p{
  margin-left: 90px;
  margin-top: 10px;
}

#score-sec p span{
  margin-left: 10px; 
}


#time-sec{
 float: left;
 width: 350px;
 height: 100%;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
}

#pause{
 margin-top: 8px;
 margin-left: 80px;
 height: 25px;
 width: 75px;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
 border-radius: 5px; 
 border: 2px solid purple;
 color: purple;
}

#pause:hover{
 cursor: pointer;
 background: purple;
 color:white;
}


#time-sec p{
 float: right;
 padding-right: 50px;
 margin-top: 10px;
}

#time_alert{
 position: relative;
 width: 250px;
 height: 300px;
 margin-left:auto;
 margin-right:auto;
 margin-top: 60px;
 background: #dedede;
 border: 1px solid black;
 border-radius: 5px; 
 box-shadow: 5px 5px 10px 1px grey;
}



