/* Created by Akshay Nair and Seyed Hossein Fazeli for CSC309, Summer 2016. */

/* 'Hacks' section for responsive design
------------------------------------------------------------- */

/* Handle box-sizing cross browsers */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Responsive images */
img, object, embed, canvas {
	max-width: 100%;
}

.flexbox {
	/* Flexbox container for responsively changing rows/columns */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.flexbox:after { 
	/* hack for clearing floats */
	content: " "; 
	display: block; 
	clear: both; 
}

/* Game section
------------------------------------------------------------- */

#frame{
	position: relative;
	width:1002px;
	min-width:1002px;
	height: 642px;
	margin: 1em auto;
	border : 1px solid black;
	font-family: Tahoma, Geneva, Helvetica, sans-serif;
}

#game {
	width: 100%;
	height: calc(100% - 40px);
}

/* Top info bar */
.infobar{
	height: 40px;
	background : cyan;
	border-bottom : 1px solid black; 
}

.infobar span{
	margin-left: 0.5em; 
	font-weight: bold;
}

.infobar p {
	text-align: center;
	margin: 0 auto;
}

/* Buttons */
button {
	border-radius: 5px; 
	border: 2px solid purple;
	color: purple;
	text-transform: uppercase;
	transition: 0.2s color, 0.2s background; /* see hover */
}

button:hover{
	cursor: pointer;
	background: purple;
	color:white;
}

.alert button {
	font-size: 1.25em;
	width: 80%;
	margin: 1em 10%;
	padding: 1em 1em;
}

.infobar button {
	margin: 0 auto;
	padding: 0.3em 1.5em;
}

/* Alerts */
.alert {
	display: none;
	padding: 1em 1em;
	background: #dedede;
	border: 1px solid black;
	border-radius: 5px; 

	text-align: center;
}

.alert-box {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	
	width: 40%;
	box-shadow: 5px 5px 10px 1px grey;
}

.alert-full {
	position: absolute;
	top: 0; left: 0;
	
	width: 100%;
	height: 100%;
	
	font-size: 125%;
	
	flex-direction: column;
	justify-content: space-between;
}

.alert h1 {
	font-size: 2.5em;
	color: red;
}

.alert h2 {
	font-size: 2.25em;
	color: purple;
}

.alert h3 {
	font-size: 1.75em;
}

/* Header
---------------------------------------*/

#instructions {
	display: none;
}

#timer {
	display: inline-block;
	width: 8em;
}

#score-change {
	visibility: hidden;
	display: inline-block;
	width: 2.5em;
}

header, footer {
	text-align: center;
	margin: 0 auto;
}

ol, ul {
	list-style: none;
	padding: 0 0;
}

a {
	font-variant: small-caps;
	color: black;
	transition: 0.1s color;
}

a:hover {
	color: grey;
}