
#frame{
 width:1000px;
 min-width:1000px;
 max-width:1000px;
 height: 682px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 margin-bottom: 20px;
 border : 1px solid black;
}


#infobar{
 height: 40px;
 background : cyan;
 border-bottom : 1px solid black;

}

#level-sec{
 float: left;
 width: 350px;
 height: 100%;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
}

#level-sec p{
  margin-left: 110px;
  margin-top: 10px;
}

#level-sec p span{
  margin-left: 10px; 
}

#score-sec{
 float: left;
 width: 300px;
 height: 100%;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
}

#score-sec p{
  margin-left: 90px;
  margin-top: 10px;
}

#score-sec p span{
  margin-left: 10px; 
}


#time-sec{
 float: left;
 width: 350px;
 height: 100%;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
}

#pause{
 margin-top: 8px;
 margin-left: 100px;
 height: 25px;
 width: 75px;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
 border-radius: 5px; 
 border: 2px solid purple;
 color: purple;
}

#pause:hover{
 cursor: pointer;
 background: purple;
 color:white;
}


#time-sec p{
 float: right;
 padding-right: 50px;
 margin-top: 10px;
}

#time_alert{
 position: absolute;
 visibility: hidden;
 width: 250px;
 height: 300px;
 margin-left: 390px;
 margin-top: 80px;
 background: #dedede;
 border: 1px solid black;
 border-radius: 5px; 
 box-shadow: 5px 5px 10px 1px grey;
}

#time_alert h1{
 padding-left:10px;
 width: 70%;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 30px;
 color: red;
 margin-left: auto;
 margin-right: auto;
}

#time_finish{
 width: 70%;
 margin-left: 35px;
 height: 60px;
 width: 180px;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 20px;
 border-radius: 5px; 
 border: 2px solid purple;
 color: purple;
}

#time_finish:hover{
 cursor: pointer;
 background: purple;
 color:white;
}

#time_new_game:hover{
 cursor: pointer;
 background: purple;
 color:white;
}

#time_new_game{
 width: 70%;
 margin-top: 30px;
 margin-left: 35px;
 height: 60px;
 width: 180px;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 20px;
 border-radius: 5px; 
 border: 2px solid purple;
 color: purple;
}


#pause_alert{
 position: absolute;
 visibility: hidden;
 width: 250px;
 height: 200px;
 margin-left: 390px;
 margin-top: 180px;
 background: #dedede;
 border: 1px solid black;
 border-radius: 5px; 
 box-shadow: 5px 5px 10px 1px grey;
}

#pause_alert h1{
 width: 90%;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 28px;
 color: red;
 margin-left: auto;
 margin-right: auto;
}

#resume{
 width: 80%;
 margin-left: 25px;
 height: 60px;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 20px;
 border-radius: 5px; 
 border: 2px solid purple;
 color: purple;
}

#resume:hover{
 cursor: pointer;
 background: purple;
 color:white;
}


#game{}